.Header {
    list-style-type: none; /* Removes default bullet points */
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;/* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    background-color: #14c70d;
  }
  
  .Header li {
    margin: 0 20px; /* Adds space between list items */
  }
  
  .Header a {
    text-decoration: none; /* Removes the underline from the links */
    color: rgb(225, 11, 11);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .Header a:hover {
    background-color: #555;
  }
  
  .Header a:active {
    background-color: #222;
  }

  .bg-body-tertiary{
    background-color: aqua;
  }
  